# Build
Build/
Core/TinyCLR*
Core/License.txt
CMSIS/

# Visual Studio
.vs/
Core/Interop/GHIElectronics_TinyCLR_Drawing.h
Core/Interop/GHIElectronics_TinyCLR_Devices.h
Core/Interop/mscorlib.h
Core/Interop/GHIElectronics_TinyCLR_IO.h
Core/
